# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Modul2\DayofMonth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
